* {
	box-sizing: border-box;
}

body {
    background-color: rgb(7, 22, 48);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.moon-container {
    max-width: 375px;
    max-height: 375px;
    overflow: hidden;
}

#moon-image {
    width: 100%;
    height: auto;
}

.stars1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars1::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  width: 2px;
  height: 2px;
  background: #fff;
}

.stars2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars2::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 70%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars3::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 90%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}


.stars4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars4::before {
  content: "";
  position: absolute;
  top: 85%;
  left: 15%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars5::before {
  content: "";
  position: absolute;
  top: 65%;
  left: 25%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
  
}

.stars6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars6::before {
  content: "";
  position: absolute;
  top: 95%;
  left: 20%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars7::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 80%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars8::before {
  content: "";
  position: absolute;
  top: 88%;
  left: 53%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars9::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 15%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars10::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 25%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars11::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 5%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars12::before {
  content: "";
  position: absolute;
  top: 26%;
  left: 30%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars13::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 10%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars14::before {
  content: "";
  position: absolute;
  top: 89%;
  left: 2%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars15::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 95%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars16::before {
  content: "";
  position: absolute;
  top: 13%;
  left: 80%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

.stars17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars17::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 87%;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
}

@keyframes twinkle {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}