* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    cursor: url("cursor.cur"), auto;
}

header {
    margin-top: 100px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-weight: bold;
}

nav {
    margin-top: 10px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.custom-cursor {
  cursor: url("cursor.cur"), auto;
}

a {
  cursor: url("cursor.cur"), auto;
}

#name {
    position: relative;
    margin-top: 200px;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 80px;
    font-weight: bold;
}

#flower {
    position: relative;
    bottom:130px;
}

#flower1 {
    position: relative;
}

#header{
    position: relative;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    bottom:200px;
}

#body{
    position: relative;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    bottom:213px;
    margin-left: 400px;
    margin-right: 400px;
}

#header1{
    position: relative;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    margin-top: 200px;
}

#body1{
    position: relative;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

#link{
    position: relative;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color: black;
}

#description{
    position: relative;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    bottom: 40px;
    margin-right: 300px;
    margin-left: 300px;
}

#descriptionright{
    position: relative;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    bottom: 500px;
    margin-right: 50px;
    margin-left: 60%;
}

#descriptionleft{
    position: relative;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    bottom: 500px;
    margin-right: 60%;
    margin-left: 50px;
}

#descriptionright1{
    position: relative;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    bottom: 850px;
    margin-right: 50px;
    margin-left: 60%;
    margin-bottom: 10px;
}

#descriptionleft1{
    position: relative;
    font-family: "ff-providence-web-pro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    bottom: 700px;
    margin-right: 60%;
    margin-left: 50px;
}

#singleimage {
    width: 450px;
    overflow: hidden;
    margin-left: 68%;
    margin-top: 100px;
}

#singleimage1 {
    width: 450px;
    overflow: hidden;
    bottom: 300px;
    margin-left: 68%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-top: 100px;
    overflow: hidden;
}

.galleryleft {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    width: 50%;
    margin-top: 100px;
    overflow: hidden;
}

.galleryright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    width: 50%;
    margin-top: 100px;
    margin-left: auto;
}


.gallery-item {
    width: 300px;
    margin: 10px;
    overflow: hidden;
}

.gallery-item1 {
    width: 343.2px;
    height: 215.6px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item1 img {
    width: 100%;
    height: auto;
    display: block;
}