/*ajt*/
#title-a {
	color: white;
	background-color:rgb(133, 204, 111);
	font-family:Helvetica;
}
#body-a {
	color:rgb(133, 204, 111);
	font-family:Helvetica;
}

/*ammk*/
#title-b {
	color: white;
	background-color:rgb(255, 184, 28);
	font-family:Helvetica;
}
#body-b {
	color:rgb(255, 184, 28);
	font-family:Helvetica;
}

/*atsh*/
#title-c {
	color: white;
	background-color:rgb(244, 132, 120);
	font-family:Helvetica;
}
#body-c {
	color:rgb(244, 132, 120);
	font-family:Helvetica;
}

/*bb*/
#title-d {
	color: white;
	background-color:rgb(244, 154, 182);
	font-family:Helvetica;
}
#body-d {
	color:rgb(244, 154, 182);
	font-family:Helvetica;
}

/*moo*/
#title-e {
	color: white;
	background-color:rgb(220, 22, 107);
	font-family:Helvetica;
}
#body-e {
	color:rgb(220, 22, 107);
	font-family:Helvetica;
}


/*p*/
#title-f {
	color: white;
	background-color:rgb(25, 14, 93);
	font-family:Helvetica;
}
#body-f {
	color:rgb(25, 14, 93);
	font-family:Helvetica;
}


/*s*/
#title-g {
	color: white;
	background-color:rgb(184, 221, 247);
	font-family:Helvetica;
}
#body-g {
	color:rgb(184, 221, 247);
	font-family:Helvetica;
}


/*tl*/
#title-h {
	color: white;
	background-color:rgb(171, 197, 183);
	font-family:Helvetica;
}
#body-h {
	color:rgb(171, 197, 183);
	font-family:Helvetica;
}