* {
	box-sizing: border-box;
}

.container {
	background-color: lightblue;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-between;
}

.item {
	background-color: bisque;
	padding: 10px;
	border: 1px solid;

	width: 200px;
}